*{
    margin: 0;
    padding: 0;
    background-color: #131111;
    color: #89e0fa;
    box-sizing: border-box;
    font-family:  'Arial Narrow Bold', sans-serif;
}
.bigd{
    display: flex;
    flex-direction: row;
    margin-left: 60px;
}
#one{
    display: flex;
    width: 280px;
    height: 550px;
    border: 2px solid #89e0fa;
    flex-direction: column;
    margin: auto;
    margin-top: 80px;
    padding-top: 20px;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 5px 5px;
}
#head1{
    margin-left: 20px;
    font-size: 45px;
}
#forr{
    margin-top: 30px;
}
#one1{
    height: 20px;
    margin-left: 20px;
    margin-right: 20px; 
    height: 60px;
    border: none;
    font-size: 18px;
}
#two2{
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px; 
    height: 60px;
    border: none;
    font-size: 18px;
}
#three3{
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px; 
    height: 60px;
    border: none;
    font-size: 18px;
}
#four4{
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px; 
    height: 60px;
    border: none;
    font-size: 18px;
}
#Algorithum{
    width: 225px;
    height: 30px;
    font-size: 15px;
    margin-top: 5px;
    border: 2px solid #89e0fa;
    color: #89e0fa;
    border-radius: 5px;
}
input{
    font-size: 18px;
    margin-top: 5px;
    border: 2px solid #89e0fa;
    color: #89e0fa;
    border-radius: 5px;
}
.buut{
    width: 100px;
    height: 50px;
    margin-top: 30px;
    margin-left: 85px;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}
.buut:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}
.buut:active {
    color: #000
}
.buut:active:after {
    background: transparent;
}
.buut:hover:before {
    opacity: 1;
}
.buut:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}
@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
#two{
    display: flex;
    width: 700px;
    height: 450px;
    border: 2px solid #89e0fa;
    flex-direction: column;
    margin: auto;
    margin-top: 80px;
    padding-top: 20px;
    justify-content: center;
    /* align-items: center; */
    border-radius: 10px;
    box-shadow: 5px 5px;
}
#head2{
    font-size: 40px;
    margin: 25px;
}
#par{
    font-size: 20px;
    margin-left: 30px;
}
#table{
    display: flex;
    height: 1500px;
    width: 650px;
    margin: auto;
}
table,th,td{
    border: 2px solid ;
    justify-content: center;
    height: 60px;
    width: 650px;
    align-items: center;
}